:root {
    --color-blue-sidebar: #4870B2;
    /* dashboard */
    --color-blue-dashboard: #6AA0DB;
    --color-green-dashboard: #3BC0A4;
    --color-orange-dashboard: #FFAA00;
    --color-red-dashboard: #EB5766;
    --color-black-dashboard: #5A5A5A;

    /* colores globales */
    --color-text: #FFFFFF;
    --color-blue: #25A0E2;
    /*  */
    --color-succes: #12C724;
    --color-cancel: #FB5E5E;
    --color-white: #FFFFFF;
    --color-secondary-1: #E5E5E5;
    --color-secondary-2: #818181;

    /* project status colors */
    --color-background-STATUS_UNDEFINED: #FFECAF;
    --color-background-STATUS_ACTIVE: #DEEFFF;
    --color-background-STATUS_DONE: #DEFFE6;
    --color-background-STATUS_FAILED: #FFDFDF;
    --color-background-STATUS_SUSPENDED: #EEEEEE;

    --color-text-STATUS_UNDEFINED: #FF9900;
    --color-text-STATUS_ACTIVE: #0080FF;
    --color-text-STATUS_DONE: #42A500;
    --color-text-STATUS_FAILED: #FF5C3A;
    --color-text-STATUS_SUSPENDED: #818181;

    /* colors cards dashboard */
    --color-background-incomplete: #91ADDC;
    --color-background-incomplete_expired: #B4B4B4;
    --color-background-trialing: #09CE44;
    --color-background-active: #57A6EB;
    --color-background-past_due: #FFAA00;
    --color-background-canceled: #EB5766;
    --color-background-unpaid: #707070;
    --color-background-paused: #3BC0A4;

}
