.cardBienvenida {
    background-color: var(--color-blue-dashboard);
    border-radius: 15px;
    color: var(--color-text);
}

.cardPaymentMade {
    border-radius: 15px;
    background-color: var(--color-green-dashboard);
    color: var(--color-text);
}

.cardPaymentPending {
    border-radius: 15px;
    background-color: var(--color-orange-dashboard);
    color: var(--color-text);
}

.cardPaymentLate {
    border-radius: 15px;
    background-color: var(--color-red-dashboard);
    color: var(--color-text);
}

.cardPaymentCanceled{
    border-radius: 15px;
    background-color: var(--color-black-dashboard);
    color: var(--color-text);
}
/* caards */
.card-incomplete{
    border-radius: 15px;
    background-color: var(--color-background-incomplete);
    color: var(--color-text);
}
.card-incomplete_expired{
    border-radius: 15px;
    background-color: var(--color-background-incomplete_expired);
    color: var(--color-text);
}
.card-trialing{
    border-radius: 15px;
    background-color: var(--color-background-trialing);
    color: var(--color-text);
}
.card-active{
    border-radius: 15px;
    background-color: var(--color-background-active);
    color: var(--color-text);
}
.card-past_due{
    border-radius: 15px;
    background-color: var(--color-background-past_due);
    color: var(--color-text);
}
.card-canceled{
    border-radius: 15px;
    background-color: var(--color-background-canceled);
    color: var(--color-text);
}
.card-unpaid{
    border-radius: 15px;
    background-color: var(--color-background-unpaid);
    color: var(--color-text);
}
.card-paused{
    border-radius: 15px;
    background-color: var(--color-background-paused);
    color: var(--color-text);
}
.cardContentCard {
    display: flex;
    align-items: center;
}

.imgCard{
    margin-left: auto;
}

/* status table */
.status-label {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
    color: #fff;
  }

  .status-incomplete {
    background-color: var(--color-background-incomplete);
  }

  .status-incomplete_expired {
    background-color: var(--color-background-incomplete_expired);
  }

  .status-trialing {
    background-color: var(--color-background-trialing);
  }

  .status-active {
    background-color: var(--color-background-active);
  }

  .status-past_due {
    background-color: var(--color-background-past_due);
  }

  .status-canceled {
    background-color: var(--color-background-canceled);
  }

  .status-unpaid {
    background-color: var(--color-background-unpaid);
  }

  .status-paused {
    background-color: var(--color-background-paused);
  }
